
<section id="projectsSection">
    <div class="filter-links">
        <ul class="filter-list">
            <li class="left"><a href="/blog">portfolio</a></li>
            <li class="right"><a href="/community-blog">community</a></li>
        </ul>
    </div>
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container" id="{{title}}">
            <div class="project-slide">
                <div class="projInfo">
                    <a href="{{link}}" target="_blank">
                        <p>{{title}}</p>
                    </a>  
                    <p>{{content}}</p>
                </div>
                <a href="{{link}}" target="_blank">
                    <img src="{{image}}">
                </a>
            </div>            
            <div class="projectTags">
                <p>posted by <a href="<!--filter for authors -->">{{author}}</a> on {{date}} post id: {{id}}</p>
            </div>
        </div>
    {{/each}}
</section>