<section id="projectsSection"> 
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container">
            <div class="project-slide">
                <div class="projInfo">
                    <a href="{{this.link}}" target="_blank">
                        <p>{{title}}</p>
                    </a>  
                    <p>{{content}}</p>
                </div>
                <a href="{{link}}" target="_blank">
                    <img src="{{image}}">
                </a>
            </div>            
            <div class="projectTags">
                <p>posted by <a href="<!--filter for authors -->">{{author}}</a> on {{date}} post id: {{id}}</p>
            </div>
        </div>
    {{/each}}
</section>