<section id="projectsSection"> 
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container">
            <div class="project-slide">
                <div class="projInfo">
                    <a href="{{this.link}}" target="_blank">
                        <p>{{title}}</p>
                    </a>  
                    <p>{{content}}</p>
                </div>
                <a href="{{link}}" target="_blank">
                    <img src="{{image}}">
                </a>
            </div>            
            <div class="projectTags">
                <p>posted by <a href="">{{author}}</a> on {{date}} post id: {{id}}</p>
            </div>
            <!-- UPDATE BLOG FORM -->
            <div class="updateBlogPost">
                <form action="#" method="post" class="updateForm">
                    <div class="updateInputs">
                        <div class="postDetails">
                            <label for="id">post ID</label>
                            <input type="number" name="id" value="{{id}}" readonly />
                            <label for="title">title</label>                        
                            <input class="contentField" type="text" name="title" value="{{title}}" />
                            <label for="image">image</label>
                            <input class="contentField" type="text" name="image" value="{{image}}" />
                        </div>
                        <div class="postDetails">
                            <label for="link">link</label>
                            <input class="contentField" type="text" name="link" value="{{link}}" />
                            <label for="author">author</label>
                            <input class="contentField" type="text" name="author" value="{{author}}" />
                            <label for="date">date</label>
                            <input class="contentField" type="date" name="date" value="{{date}}" />                     
                        </div>
                    </div>                
                    <div class="postContent">
                        <label for="content">content</label>
                        <textarea type="text" name="content" rows="10" cols="50">{{this.content}}</textarea>
                        <input class="updateButton" type="submit" value="Update" />
                    </div>
                </form>
            </div>                
                <div class="deletePost">
                    <form action="/post-delete" method="post">
                        <h1>delete this post?</h1>
                        <div class="deleteTextField">
                            <label for="deleteThisPost">confirm post title</label>
                            <input name="deleteThisPost" type="text" pattern="{{title}}" placeholder="post title" required />
                        </div>
                        <div class="deleteCheckboxField">
                            <label for="confirmDeletePost">tick to confirm</label>
                            <input type="checkbox" required />
                        </div>
                        <input class="updateButton" type="submit" value="delete" />
                    </form>
                </div>
            </div>
            <!-- UPDATE BLOG FORM END -->
        </div>
    {{/each}}
</section>