<section id="projectsSection"> 
        <div class="filter-links">
        <ul class="filter-list">
            <li class="left"><a href="/manageBlog">your blog</a></li>
            <li class="right"><a href="/manageGuestbook">your guestbook</a></li>
        </ul>
    </div>
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container">
            <div class="project-slide">
                <div class="projInfo">
                    <p><a href="{{this.link}}" target="_blank" rel="noopener">{{title}}</a></p>
                    <p>{{{content}}}</p>
                </div>
                <a href="{{link}}" target="_blank" rel="noopener">
                    <img src="{{image}}" alt="project thumbnail image">
                </a>
            </div>            
            <div class="projectTags">
                <p>posted by {{author}} on {{date}} post id: {{id}}</p>
            </div>
            <!-- UPDATE BLOG FORM -->
            <div class="updateBlogPost">
                <div class="pin-post">
                    <form action="/pinGuestbookPost" method="post">
                        <label for="pin">pin this post?
                            <input type="checkbox" name="pin" value="pinPost" /></label>
                            <input type="hidden" name="postId" value="{{id}}">
                            <input class="updateButton" type="submit" value="pin" />
                        </form>
                </div>
                <div class="deletePost">
                    <form action="/post-delete" method="post">
 
                        <h1>delete this post?</h1>
                        <div class="deleteTextField">
                            <label for="deleteThisPost">confirm post title
                                <input name="deleteThisPost" type="text" pattern="{{title}}" placeholder="post title" required />
                            </label>
                            <input type="hidden" name="author" value="{{author}}">
                            <input type="hidden" name="postId" value="{{id}}">
                            <input type="hidden" name="image" value="{{image}}">
                        </div>
                        <div class="deleteCheckboxField">
                            <label for="confirmDeletePost">tick to confirm
                                <input type="checkbox" required />
                            </label>
                        </div>
                        <input class="updateButton" type="submit" value="delete" />
                    </form>
                </div>
            </div>
            </div>
            <!-- UPDATE BLOG FORM END -->
        </div>
    {{/each}}
</section>