<section id="projectsSection"> 
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container">
            <div class="project-slide">
                <div class="projInfo">
                    <a href="{{this.link}}" target="_blank">
                        <p>{{title}}</p>
                    </a>  
                    <p>{{content}}</p>
                </div>
                <a href="{{link}}" target="_blank">
                    <img src="{{image}}">
                </a>
            </div>            
            <div class="projectTags">
                <p>posted by <a href="">{{author}}</a> on {{date}} post id: {{id}}</p>
            </div>
            <!-- UPDATE BLOG FORM -->
            <div class="updateBlogPost">
                <form action="#" method="post" class="updateForm">
                    <div class="postDetails">
                        <input type="number" name="id" value="{{id}}" readonly />
                        <label for="title">title</label>                        
                        <input type="text" name="title" value="{{title}}" />
                        <label for="image">image</label>
                        <input type="text" name="image" value="{{image}}" />
                        <label for="link">link</label>
                        <input type="text" name="link" value="{{link}}" />
                        <label for="author">author</label>
                        <input type="text" name="author" value="{{author}}" />
                        <label for="author">date</label>
                        <input type="date" name="date" value="{{date}}" />                     
                    </div>
                    <div class="postContent">
                        <label for="content">content</label>
                        <textarea type="text" name="content" rows="10" cols="100">{{this.content}}</textarea>
                        <input class="updateButton" type="submit" value="Update" />
                    </div>
                </form>
                <form action="/post-delete" method="post">
                    <label for="deleteThisPost">delete this post? write post title to confirm</label>
                    <input name="deleteThisPost" type="text" pattern="{{title}}" placeholder="post title" required />
                    <label for="confirmDeletePost"></label>
                    <input type="checkbox" required />
                    <input type="submit" value="delete post" />
                </form>
            </div>
            <!-- UPDATE BLOG FORM END -->
        </div>
    {{/each}}
</section>